<!DOCTYPE html>
<html lang="en">
<head>

    <title>Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body style="background-color: #FCDC90;">

    <div class="card sticky-top opacity-75 bg-secondary text-white">
        <p class="font-weight-bold" style="text-align: center; padding-top: 10px;"><b>Hello, @{{request.user.username}} 👋 |</b>     
            <a class="btn btn-light" href="{%url 'profile' request.user.username %}"><b>Back</b></a>        
        </p>
    </div>
    <br>




    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-2">
                <div class="card" style="border: 1px solid #909090; padding: 10px;">
                    <h2 style="text-align: center;">Account</h2>
                    <hr>
                    <form id="edit_account" method="post">{% csrf_token %}
                        {% for field in account_form %}
                            <p style="text-align: center;">
                                {{field.label_tag}}
                                {{field}}

                                {% if field.help_text %}
                                    <small style="color: grey;">{{field.help_text}}</small>
                                {% endif %}

                            </p>
                        {% endfor %}

                    {% for field in account_form %}
                        {% for error in field.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                        <p style="color:red;">{{error}}</p>
                    {% endfor %}

                    {% if account_form.non_field_errors %}
                        <div style="color:red;">
                            <p>{{account_form.non_field_errors}}</p>
                        </div>
                    {% endif %}
                    <div class="text-center">
                        <!-- <button type="submit">Save Changes</button> -->
                        <a class="btn btn-secondary" href="#" onclick="document.getElementById('edit_account').submit();">Save Changes</a>
                    </div>
                        

                    </form>


                </div>
            
            
            
            
            
            </div>
    
        </div>
    </div>




    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> 


</body>
</html>