<!DOCTYPE html>
<html lang="en">
<head>

    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body style="background-color: #FCDC90;">
    <div class="card sticky-top opacity-75 bg-secondary text-white">
        <p class="font-weight-bold" style="text-align: center; padding-top: 10px;"><b>Greetings ✌️ |</b>     
            <a class="btn btn-light" href="{%url 'home' %}"><b>Home</b></a>        
        </p>
    </div>
    <br>

    




    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-2">
                <div class="card bg-light text-dark" style="border: 1px solid #909090; padding: 10px;">
                    
                    <div class="text-center" >
                        <h2>Register</h2>
                        <hr>
                        <form id="register_form" method="post">{% csrf_token %}
                            {% for field in registration_form %}
                                <p style="text-align: center;">
                                    {% if field.help_text %}
                                        <small style="color: grey; display: block">{{field.help_text}}</small>
                                    {% endif %}
                                    
                                    {{field.label_tag}}
                                    {{field}}
                    
                                    
                    
                                    {% for error in field.errors %}
                                        <p style="color:red;">{{error}}</p>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                            <br>
                            <a class="btn btn-secondary" href="#" onclick="document.getElementById('register_form').submit();">Register</a>
                                
                        </form>
                        <p>Already have an account? <a style="text-decoration: none; color:#909090;" href="{% url 'login' %}">Login</a></p>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>


    <script>
        document.getElementById('register_form').addEventListener('keypress', function(event) {
            if (event.keyCode == 13) {
                document.getElementById('register_form').submit()
            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> 

</body>
</html>